<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>FlatMates</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/main.css" />
  </head>
  <body>
    <h1>Bill Page</h1>
    <a href={{url_for('home_page')}}>Home Page</a>

    <h2>FlatMates Info</h2>
    <form action='/results' method="post">
      {{billform.amount.label}}{{billform.amount}}
      <br>
      {{billform.period.label}}{{billform.period}}
      <br>
      {{billform.f1_name.label}}{{billform.f1_name}}
      <br>
      {{billform.f1_days.label}}{{billform.f1_days}}
      <br>
      {{billform.f2_name.label}}{{billform.f2_name}}
      <br>
      {{billform.f2_days.label}}{{billform.f2_days}}
      <br>
      {{billform.submit_button}}

      
    </form>
    <script src="" async defer></script>
  </body>
</html>
